
// Directories
params.project_dir = "/Users/raymondleclair/Projects/Springbok"
params.repository_dir = "${params.project_dir}/methylseq"
params.reference_files_dir = "${params.project_dir}/methylseq-reference-files"
params.read_files_dir = "${params.project_dir}/methylseq-read-files"

// Flags
params.force_download = false

// Directives
process {
    conda = "${params.repository_dir}/methylseq.yml"
}
